.orderSummary{
  transform: translateX(35px)
}

@media (max-width: 375px) {
  .orderSummary{
    transform: translateX(0px);
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
  }
}

@media (max-width: 425px) {
  .orderSummary{
    transform: translateX(0px);
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
  }
}